<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--    , minimal-ui-->
    <!--    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
    <title>SCROLLX</title>
    <script th:inline="javascript">
		var frontendData = [[${frontendData}]]
    </script>
</head>
<body>

<div id="app"></div>

<script src="http://localhost:8900/main.js"></script>
<!--<script src="https://api.testerio.stech.team/main.js"></script>-->
<!--<script src="../js/main.js"></script>-->

</body>
</html>